<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FlashCard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <FlashCard.Properties.Settings>
            <setting name="SpellingModeHintIntervalInitial" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SpellingModeHintInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SpeechRate" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="SpeechVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="SpellingModeHintEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </FlashCard.Properties.Settings>
    </userSettings>
</configuration>
